/* .home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 90%;
  margin: auto;
  max-width: 1400px;
} */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.title {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.intro {
  flex: 1.5;
  min-width: 300px;
  max-width: 660px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.intro {
  margin-top: 20px;
  margin-right: 20px;
  text-wrap: wrap;
}

.intro p {
  text-align: justify;
  line-height: 1.3;
}

.title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.title h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.title img {
  max-width: 100%;
  height: auto;
}
