@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

/* global */

.g-base {
  background: linear-gradient(#23a6d5, #23d5ab);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
}

.g-nav ul {
  display: flex;
  list-style-type: none;
}

.g-nav ul li a {
  padding: 10px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
}

.g-nav ul li a.active {
  color: #007bff;
  border-radius: 4px;
}

.g-nav ul li a:hover {
  color: white;
}

header h4 {
  font-weight: lighter;
}

/* section */
#s-footer {
  /* margin-left: 900px; */
  float: right;
  color: black;
  text-transform: capitalize;
}

/* page */

#p-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  grid-template-rows: auto;
}

/* resume */

.container {
  padding-top: 10px;
}

.container section {
  margin-bottom: 10px;
}

.container h4 {
  font-weight: bold;
}

.container h1 {
  text-transform: uppercase;
  font-size: 30px;
}

/* resume/workSample/sample */

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

section img {
  border-radius: 10px;
  flex-shrink: 1;
}

.text {
  max-width: 25rem;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.pics {
  border-radius: 10px;
}

/* first breakpoint at 800px */

@media (max-width: 800px) {
  .home {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .table {
    display: table;
  }

  .table p {
    display: table-cell;
  }

  .pics {
    width: 300px;
    height: 300px;
  }

  .title,
  .intro {
    flex: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-right: auto;
  }

  .text {
    max-width: 20rem;
  }

  .container {
    max-width: 25rem;
    align-items: left;
  }

  #p-logo {
    max-width: 70%;
  }

  .g-nav ul li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight: 700;
    text-align: left;
  }
}

/* second breakpoint at 500px */

@media (max-width: 500px) {
  .table {
    display: table;
  }

  .logo-img {
    display: none;
  }

  .container {
    max-width: 20rem;
    align-items: left;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }

  .line {
    max-width: 10%;
  }

  .text {
    align-items: start;
  }

  #p-logo {
    width: 80%;
    max-width: 80%;
    justify-content: center;
  }
}
